body {
    /* background: url(Assets/0Shteve.jpg) no-repeat center center fixed; */
    background: url(Assets/JMcDermott.jpg) no-repeat center fixed;
    background-size: auto;
    background-position: center 25vh;
    background-color: rgb(177, 167, 132);
    opacity: 1;
}



#McMillan {
    opacity: 1;
    display: flex;
    width: 100%;
}


.title {
    text-align: center;
    color: rgba(255, 200, 20, 1);
}

.display {
    margin: 2% auto;
    display: block;
    width: 40vw;
    text-align: center;
    animation-duration: 1s;

}

.box {
    text-align: center;
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    width: 75%;
}

a {
    display: contents;
}

.jumbotron {
    padding: 2% 0;
    margin: 0%;
    border-radius: 25px;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: linear;
    background-color: rgb(253,228,198);
}

.jumbotron:hover {
    background-color: rgba(10, 10, 10, 1);
    color: rgba(255, 10, 10, 1);
}

.btn {
    width: 100%;
    background-color: rgba(10, 10, 10, 0);
    border: rgba(10, 10, 10, 0);
    color: rgba(10, 10, 10, 1);
}

.jumbotron:hover .btn {
    background-color: rgba(10, 10, 10, 0);
    border: rgba(10, 10, 10, 0);
    color: rgba(255, 10, 10, 1);
}

.btn:active, .btn:focus {
    background-color: rgba(10, 10, 10, 0) !important;
    border: rgba(10, 10, 10, 0) !important;
    color: rgba(255, 10, 10, 1) !important;
    box-shadow: none !important;
    outline: none !important;
}

.btn:focus {
    background-color: rgba(10, 10, 10, 0) !important;
    border: rgba(10, 10, 10, 0) !important;
    box-shadow: none !important;
    outline: none !important;
}

.card {
    display: inline-flex;
    width: 15%;
    color: rgba(10, 10, 10, 1);
    background-color: rgb(229, 255, 229);
    border-radius: 15px;
    margin-bottom: 5%;
}

.link {
    font-family: 'Permanent Marker', cursive;
    font-size: 2vw;
}

.footer {
    position: fixed;
    left: 0;
    bottom: .1vh;
    width: 100%;
    color: rgb(253, 228, 198);
    text-align: center;
    font-weight: 900;
}


.beercard, .beerResult {
    margin: 1vh;
    background-color: aqua;
    border-radius: 100px;
    padding: 1vh;
}



/* TABLET */
@media only screen and (max-width:1220px) {
    body {
        background-color: rgb(177, 167, 132);
    }

    .mail {
        display: none;
    }

    .display-4 {
        font-size: 8vmax;
    }

    .display {
        margin: 5% auto;
        display: block;
        width: 90%;
    }

    .jumbotron {
        width: 100%;
    }

    .link {
        font-size: 10vw;
    }
}


/* MOBILE PHONE */
@media only screen and (max-width:800px) {
    .display {
        margin: 5% 5%;
        width: 90%;
    }

    .jumbotron {
        width: 100%;
    }
}