@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bree+Serif&family=Patua+One&family=Special+Elite&display=swap');
/* 
font-family: 'Archivo Black';
font-family: 'Bree Serif';
font-family: 'Patua One';
font-family: 'Special Elite'; */

:root {
    --bluebg: rgba(0, 255, 255, .2);
}

body {
    background-image: url(./Assets/Paperbg.jpg);
    font-family: 'Special Elite';
    margin: 0;
    margin-top: 0;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: center;
    margin: 0;
    height: 10vh
}

header nav, header .title {
    background-color: rgba(0, 255, 255, .2);
}

header nav {
    display: flex;
    border: 5px solid black;
    box-sizing: border-box;
    font-size: 1rem;
    align-items: center;
    margin: 0;
    width: 45%;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    padding: 0;
    width: 100%;
}

nav li {
    text-align: center;
    padding: 50px;
    font-size: 2vw;
}

a {
    /* border: 5px solid black;  */
    text-decoration: none;
    color: black;
    display: inline-flex;
}

nav a, nav a:visited, a:visited {
    text-decoration: none;
    color: black;
    border: none;
}

.title {
    border: 5px solid black;
    box-sizing: border-box;
    font-size: 11vh;
    padding-top: 5px;
    margin: 0;
    width: 45%;
    text-align: center;
}

main {
    width: 100%;
    max-width: 1603px;
    max-height: 950px;
    margin: 0 auto;
    border: 5px solid black;
    padding: 0 58px;
    padding-bottom: 0;
}

.cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    box-sizing: border-box;
    margin: 10px auto;
    width: 90%;
    justify-items: center;
}

.card {
    position: relative;
    box-sizing: border-box;
    width: 100%;
}

.card:nth-of-type(4) {
    box-sizing: border-box;
    grid-column: 3 /5;
}

.card-wide {
    grid-column: 1 /7;
    width: 100%;
}

img, h1, li, a, .card-text {
    transition-property: filter;
    transition-duration: .5s;
}

img:hover, li:hover, a:hover {
    filter: invert(30%) sepia(100%) hue-rotate(300deg) brightness(80%) saturate(420%);
}

.card-wide .card-text {
    box-sizing: border-box;
    font-size: 4.5vw;
    margin: 0;
    padding: 0;
    position: relative;
    top: 70%;
    left: -85%;

}

.card .card-text {
    box-sizing: border-box;
    font-size: 1.5vw;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: -5%;
    right: 50%
}

footer, .footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 90%;
    background-color: var(--bluebg);
    color: black;
    text-align: center;
    margin: 0 auto;
}

@media (max-width: 1220px) {
    body {
        overflow-y: scroll;
    }

    header {
        display: inline;
    }

    .title {
        font-size: 10vw;
        padding-top: 3%;
        border: none;
        width: 100%;
    }

    header nav {
        border: none;
        width: 100%;
        justify-content: center;
        margin: 0 auto;
    }

    nav li {
        text-align: center;
        padding: 2%;
        font-size: 3vw;
    }


    main {
        width: 89.5%;
        padding: 0;
    }

    .cards {
        padding: 0;
    }

    .footer {
        position: absolute;

    }

    .cards {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        box-sizing: border-box;
        margin: 10px auto;
        width: 90%;
        justify-items: center;
    }

    .card-wide {}

    .card {
        position: relative;
        box-sizing: border-box;
        width: 100%;
    }


    .card-wide {
        grid-column: 1 /7;
        width: 100%;
    }

    .card:nth-of-type(4) {
        box-sizing: border-box;
        grid-column: 3 /5;
    }

    .card:nth-of-type(6) {
        display: none;
    }

}